<!-- <div *ngFor="let caseCategory of cases" class="b-cases-category">
  <h2 class="b-cases-category__name">{{ caseCategory.category }}</h2>

  <div class="row justify-content-md-center">
    <div class="col-3 b-case_m rare" *ngFor="let i of [1,2,3,4]">
      <div class="sprite-left-top"></div>
      <div class="sprite-rigt-top"></div>
      <div class="b-case_m__content">
        <div class="b-case_m__name">Case name #{{ i }}</div>
        <img class="hover" src="../../../assets/images/simple_ammunition.png" alt="">
        <img src="../../../assets/images/case_rare.png" alt="">
      </div>
      <button class="btn btn-rare-case" type="button">9.99$</button>
    </div>
  </div>

  <div *ngFor="let case of caseCategory.cases" class="card" style="width: 20rem;">
    <img class="card-img-top" [src]="case.image" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{ case.staticName }}</h4>
      <button [routerLink]="['../case', case.staticName]" class="btn btn-primary">${{ case.price }} USD</button>
    </div>
  </div>
</div> -->

<div *ngFor="let caseCategory of cases" [ngClass]="caseCategory.category.index > 1 ? 'second-bg' : ''" class="b-cases-category">
  <div class="b-cases-category__inner">
    <h2 class="b-cases-category__name">{{ caseCategory.category.fullName }}</h2>

    <div class="row justify-content-md-center" *ngIf="caseCategory.category.index == 1">
      <div class="col-3 b-case_m rare" *ngFor="let case of caseCategory.cases" [routerLink]="['/case', case.staticName]">
        <div class="sprite-left-top"></div>
        <div class="sprite-rigt-top"></div>
        <div class="b-case_m__content">
          <div class="b-case_m__name">{{ case.fullName }}</div>
          <img class="hover" src="../../../assets/images/simple_ammunition.png" alt="">
          <img src="../../../assets/images/case_rare.png" alt="">
        </div>
        <button class="btn btn-rare-case" type="button">{{ case.price | currency }}</button>
      </div>
    </div>

    <div class="row justify-content-md-center" *ngIf="caseCategory.category.index == 2">
      <div class="col-md-3 col-6 b-case_m standart" *ngFor="let case of caseCategory.cases" [routerLink]="['/case', case.staticName]">
        <div class="b-case_m__content">
            <div class="b-case_m__name">{{ case.fullName }}</div>
            <img class="b-case_m__img" src="../../../assets/images/cases/stand_case_01.png" alt="">
            <div class="b-case_m__prices">
              <span class="price">{{ case.price | currency }}</span>
              <span class="price action">{{ case.previousPrice | currency }}</span>
            </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center" *ngIf="caseCategory.category.index == 3">
      <div class="col-md-3 col-6 b-case_m regular" *ngFor="let case of caseCategory.cases" [routerLink]="['/case', case.staticName]">
        <div class="b-case_m__content">
            <div class="b-case_m__name">{{ case.fullName }}</div>
            <div class="b-case_m__img_hover" [ngClass]="case.caseClass"></div>
            <img class="b-case_m__img" [src]="case.image" alt="">
            <div class="b-case_m__new">NEW</div>
            <div class="b-case_m__prices">
              <span class="price">{{ case.price | currency }}</span>
              <span class="price action">{{ case.previousPrice | currency }}</span>
            </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center" *ngIf="caseCategory.category.index == 4">

      <div class="col-md-3 col-6 b-case_m regular" *ngFor="let case of caseCategory.cases" [routerLink]="['/case', case.staticName]">
        <div class="b-case_m__content">
            <div class="b-case_m__name">{{ case.fullName }}</div>
            <div class="b-case_m__img_hover gold"></div>
            <img class="b-case_m__img" [src]="case.image" alt="">
            <div class="b-case_m__new">NEW</div>
            <div class="b-case_m__prices">
              <span class="price">{{ case.price | currency }}</span>
              <span class="price action">{{ case.previousPrice | currency }}</span>
            </div>
        </div>
      </div>

    </div>

  </div>
</div>
