<div *ngIf="currentCase" class="row">
  <div class="col-md-12">
    <h1>Case {{ currentCase.fullName }}</h1>

    <div class="row">
      <div class="col-md-4 row">
        <div class="form-group col-md-8">
          <label for="caseName">Name</label>
          <input type="text" class="form-control" [(ngModel)]="currentCase.fullName" id="caseName" placeholder="Enter case name">
        </div>

        <div class="form-group col-md-4">
          <label for="casePrice">Price</label>
          <input type="number" class="form-control" step="0.01" [(ngModel)]="currentCase.price" id="casePrice" placeholder="Enter price">
        </div>

      </div>
      <div class="col-md-4 form-group">
          <label for="availableSkins">Available skins</label>
          <select class="form-control" id="availableSkins" [(ngModel)]="selectedSkin">
              <option *ngFor="let skin of skins" [ngValue]="skin.id">
                  {{skin.marketHashName}} ({{ skin.price | currency }})
              </option>
          </select>
          <button type="button" class="btn btn-primary" [disabled]="selectedSkin == null" (click)="addSkin()">Add</button>
          <button type="button" class="btn btn-primary" (click)="addAllSkins()">Add all</button>
      </div>

      <div class="form-check" style="padding-top: 39px;padding-left: 50px;">
        <input type="checkbox" type="checkbox" class="form-check-input" [(ngModel)]="currentCase.isAvalible" id="caseIsAvalible" placeholder="Case is avalible?">
        <label for="caseIsAvalible" class="form-check-label">Available</label>
      </div>

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-5">
              <label for="margine">Margine</label>
              <input type="number" class="form-control" step="1" [(ngModel)]="margine" id="margine" placeholder="Enter margine 0 - 100">
          </div>
          <button (click)="onCaclulateChances()" type="button" class="btn btn-primary">Calculate chances</button>
        </div>
      </div>

      <div class="col-md-4 btn-group">
        <button (click)="onTestCaseOpen(currentCase, 10, dropRateModal)" type="button" class="btn btn-primary">Test 10 open</button>
        <button (click)="onTestCaseOpen(currentCase, 100, dropRateModal)" type="button" class="btn btn-primary">Test 100 open</button>
        <button (click)="onTestCaseOpen(currentCase, 1000, dropRateModal)" type="button" class="btn btn-primary">Test 1000 open</button>
        <button (click)="onTestCaseOpen(currentCase, 10000, dropRateModal)" type="button" class="btn btn-primary">Test 10000 open</button>
      </div>
    </div>

    <div style="margin-top: 20px;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Market hash name</th>
            <th>Price</th>
            <th>Chance</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let skin of currentCase.skins">
            <th scope="row">{{ skin.id }}</th>
            <td>{{ skin.marketHashName }}</td>
            <td>{{ skin.price | currency }}</td>
            <td><input style="max-width: 250px;" type="number" step="0.000001" class="form-control" [(ngModel)]="skin.chance"></td>
            <td><button (click)="onRemoveSkin(skin)" type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button (click)='onSave();' class="btn btn-primary">Save</button>
    </div>
  </div>
</div>

<ng-template #dropRateModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ currentCaseStatistic.title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body test-open-case">
      <h4>Total: </h4>
      <div class="totals">
        <h5>Case: <span [ngClass]="currentCaseStatistic.totals.totalCasePrice > currentCaseStatistic.totals.totalSkinPrice ? 'plus' : 'minus'">{{ currentCaseStatistic.totals.totalCasePrice | currency }}</span></h5>
        <h5>Skin: <span [ngClass]="currentCaseStatistic.totals.totalSkinPrice < currentCaseStatistic.totals.totalCasePrice ? 'plus' : 'minus'">{{ currentCaseStatistic.totals.totalSkinPrice | currency }}</span></h5>
        <h5>Income: <span [ngClass]="currentCaseStatistic.totals.totalIncome > 0 ? 'plus' : 'minus'">{{ currentCaseStatistic.totals.totalIncome | currency }}</span> </h5>
        <h5>Marginality: <span [ngClass]="currentCaseStatistic.totals.totalMarginality > 0 ? 'plus' : 'minus'">{{ currentCaseStatistic.totals.totalMarginality | percent:'1.1-3' }}</span> </h5>
      </div>

      <h4>Details: </h4>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Id</th>
            <th>Market Hash Name</th>
            <th>Count</th>
            <th>%</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stat of currentCaseStatistic.data | sort: '-count'">
            <td>{{ stat.skin.id }}</td>
            <td>{{ stat.skin.marketHashName }}</td>
            <td>{{ stat.count }}</td>
            <td>{{ stat.chance | percent:'2.2-3' }}</td>
          </tr>
        </tbody>
      </table>
  </div>
</ng-template>
