<div class="b-case" *ngIf="currentCase != null">
  <!-- <h2>Case {{ currentCase.staticName }}</h2> -->

  <div #rouletteContainer class="b-case-roulette" style="opacity: 0;" [ngClass]="!isOpenCaseClick ? 'display-none on' : ''">

    <roulette #roulette [skins]="currentCase.skins" [(isSpinning)]="isSpinning" [currentCase]="currentCase"></roulette>

  </div>

  <div #caseContainer [ngClass]="isOpenCaseClick ? 'display-none off' : ''" class="b-case-header">
    <div class="b-case-header__inner">
      <h2>{{ currentCase.fullName }}</h2>
      <img [ngClass]="currentCase.categoryName" [src]="currentCase.image" alt="">
      <div class="hover" [ngClass]="currentCase.caseClass"></div>
      <div class="price">{{ currentCase.price | currency }}</div>
      <button *ngIf="currentUser != null && currentUser.balance >= currentCase.price" (click)="openCase()" type="button" class="btn btn-outline-success btn-open-case">Open case</button>
      <button *ngIf="currentUser == null" (click)="loginSteam()" type="button" class="btn btn-outline-success btn-open-case">Sign in</button>
      <button *ngIf="currentUser != null && currentUser.balance < currentCase.price" type="button" class="btn btn-outline-success btn-open-case">Add funds</button>
    </div>
  </div>

  <div class="b-case-drop">
    <div class="b-case-drop__inner ">
      <h3>Items in {{ currentCase.fullName }}</h3>

      <div class="col-12 row">
        <div *ngFor="let skin of currentCase.skins" class="b-item-drop col-6 col-md-3 col-lg-2">
            <div class="border">
              <div class="b-item-drop__inner">
                  <h6>{{ skin.marketHashName }}</h6>
                  <div class="hover"></div>
                  <img [src]="skin.image" alt="Card image cap">
                </div>
            </div>
            <!-- <img class="card-img-top" [src]="skin.image" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">{{ skin.marketHashName }}</h4>
            </div> -->
        </div>
      </div>
    </div>
  </div>

  <hr>
</div>

<ng-template #modalWinContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">You won!</h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="winSkin != null">
    <img [src]="winSkin.image" alt="">
    <h2>{{winSkin.marketHashName}}</h2>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark">Close</button>
  </div>
</ng-template>
