<div *ngIf="isWinned && prize" class="b-win">
  <h2>{{prize.marketHashName}}</h2>
  <div class="hover"></div>
  <img [src]="prize.image" />
  <div class="b-win__buttons" *ngIf="currentWinner">
    <button (click)="sellItem();" type="button" class="btn btn-outline-success" [disabled]="currentWinner.state == 1">
        <i *ngIf="currentWinner.state == 1337" class="fa fa-sync-alt fa-spin fa-fw"></i>
        <i *ngIf="currentWinner.state != 1337" class="fa fa-recycle" aria-hidden="true"></i>
        Sell for {{ currentWinner.price | currency }}
    </button>
    <button (click)="spin();" type="button" class="btn btn-outline-warning">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Take
    </button>
    <button (click)="spin();" type="button" class="btn btn-outline-warning">
        <i class="fa fa-sync-alt" aria-hidden="true"></i>
        Spin again
    </button>
  </div>
</div>

<div class="b-case-roulette" [ngClass]="isWinned ? 'blur' : ''">
  <h3>{{ caseMessage }}</h3>

  <div id="scrollerContainer">
      <div id="caruselLine"></div>
      <div id="caruselOver"></div>
      <div id="aCanvas">
          <div #casesCarusel id="casesCarusel" style="margin-left: 0px; transition: 1s all ease-in;">
              <div *ngFor="let skin of skinsRoulette">
                  <div class="weaponblock weaponblock1">
                      <img [src]="skin.image" />
                      <div class="weaponblockinfo"><span>{{ skin.marketHashName }}<br/></span></div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
