<div *ngIf="user != null" class="b-profile">
  <div class="row b-profile-head" style="margin-bottom: 20px;">
      <div class="col-8 b-profile-head__left">
        <div class="row">
          <div class="col-2"><img class="avatar" [src]="user.steamAvatar" alt=""></div>
          <div class="col-10">
            <h4>{{ user.email }}</h4>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter you Trade url">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Save</button>
              </span>
            </div>
            <div class="trade-helper">
                1) Login into your Steam account <br>
                2) Click on the profile name, then select "Inventory" <br>
                3) Click on the blue button "Trade offers" <br>
                4) Select "Who can send me trade offers" <br>
                5) Copy the link for Steam trade and specify it during the purchase procedure.
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="row">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="$0.00">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Pay</button>
              </span>
            </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="card col-12">
      <div class="card-block">
        <h4 class="text-center">Won items</h4>

        <div class="row">
            <div class="card col-3" *ngFor="let item of user.wonItems">
              <div class="card-block row">
                <img [src]="item.image" alt="">
                <h5>{{ item.marketHashName }}</h5>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
