<div class="b-loading" *ngIf="user == null && isLoading">
  <div class="row justify-content-center">
    <div class="col-6 col-sm-12 col-md-4">
      <div class="clearfix">
        <div class="row vertical-align" style="/* text-align: -webkit-center; */">

          <div class="col-9 col-sm-7 col-md-6">
            <h4 class="pt-3">Loading...</h4>
            <p _class="text-muted">One moment please</p>
          </div>
        <div class="col-3 col-sm-5 col-md-6">
            <i class="fa fa-cog fa-6x fa-spin" style="font-size:62px;float:right;"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="user != null && !isLoading" class="b-profile">
  <div class="col-12 row b-profile-head" *ngIf="!isDisableForEdit" style="margin-bottom: 20px;">
      <div class="col-md-8 col-12 b-profile-head__left">
        <div class="header">Settings</div>
        <div class="row">
          <div class="col-12 col-md-2">
            <img class="avatar" [src]="user.steamAvatar" alt="">
            <h5 class="username">{{ user.email }}</h5>
          </div>
          <div class="col-12 col-md-10">
            <div class="input-group">
              <input [disabled]="isDisableForEdit" [(ngModel)]="user.tradeofferUrl" type="text" class="form-control" placeholder="Enter you Trade url">
              <span class="input-group-btn">
                <button (click)="onClickSaveTradeUrl()" class="btn btn-primary" type="button">Save</button>
              </span>
            </div>
            <div class="trade-helper">
                1) Login into your Steam account <br>
                2) Click on the profile name, then select "Inventory" <br>
                3) Click on the blue button "Trade offers" <br>
                4) Select "Who can send me trade offers" <br>
                5) Copy the link for Steam trade and specify it during the purchase procedure.
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12 b-profile-head__right">
        <div class="header">Top up balance</div>
        <div class="row" style="padding-left: 15px;padding-right: 15px;">
          <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="amount" placeholder="$0.00">
              <span class="input-group-btn">
                <button class="btn btn-primary" (click)="onClickRefillBalance();" type="button">Pay</button>
              </span>
          </div>
          <img class="pay g2a" src="../../assets/images/g2a.png" alt="">
        </div>
      </div>
  </div>

  <div class="row justify-content-center b-profile-head b-profile-head-non" *ngIf="isDisableForEdit" style="margin-bottom: 20px;">
    <div class="col-12 col-sm-12 col-md-6">
      <div class="clearfix">
        <div class="row vertical-align" style="/* text-align: -webkit-center; */">

          <div class="col-12 col-sm-4 col-md-4 b-text">
            <h5>Cases: {{user.wonItems.length}}</h5>
          </div>

          <div class="col-12 col-sm-4 col-md-4 b-avatar">
            <img class="avatar" [src]="user.steamAvatar" alt="">
            <h5>{{ user.email }}</h5>
          </div>

          <div class="col-12 col-sm-4 col-md-4 b-text">
            <h5><a href="https://steamcommunity.com/profiles/{{user.id}}" target="_blank">Steam Profile</a></h5>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="b-profile-case-drop">
    <div class="b-case-drop">
      <div class="b-case-drop__inner ">
        <h3>Won items</h3>

        <div class="col-12 row">
          <div *ngFor="let item of user.wonItems" class="b-item-drop col-6 col-md-3 col-lg-2">
              <div class="border">
                <div class="b-item-drop__inner">
                    <h6>{{ item.marketHashName }}</h6>
                    <div class="hover"></div>
                    <img [src]="item.image" alt="">
                    <div *ngIf="item.state != 1" class="price">{{ item.priceForSell | currency }}</div>
                    <div class="text-center controls" *ngIf="!isDisableForEdit">
                      <div class="btn-group" *ngIf="item.state == 0">
                        <button (click)="onClickSell(item)" class="btn btn-success">Sell</button>
                        <button class="btn btn-warning">Take</button>
                      </div>
                      <div *ngIf="item.state == 1">
                        <h5>sold for {{ item.price | currency }}</h5>
                      </div>
                      <div *ngIf="item.state == 1337" class="loading">
                          <i class="fa fa-sync-alt fa-spin fa-fw fa-2x"></i>
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- <img class="card-img-top" [src]="skin.image" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">{{ skin.marketHashName }}</h4>
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
