.b-loading {
  color: white;
}

.b-profile {
  padding: 30px 0;
  .b-profile-head {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    .header {
      font-size: 18pt;
      color: white;
      padding: 0;
      padding-bottom: 6px;
      letter-spacing: 1px;
    }

    .b-profile-head__left {
      .avatar {
        border-radius: 50px;
        margin-right: 12px;
        border: 2px solid #ffffff;
        display: block;
        margin: auto;
        width: 90px;
      }

      .username {
        padding-top: 6px;
        font-size: 10pt;
        text-align: center;
        color: white;
      }

      h4 {
        color: #ffc600;
      }

      .trade-helper {
        color: #b0a2b8;
        padding-top: 8px;
        font-size: 10pt;
      }
    }

    .b-profile-head__right {
      .pay {
        border: 1px solid #695a7c;
        border-radius: 6px;
        margin-top: 8px;
        padding: 6px;
      }
    }

    .input-group {
      input {
        background: #16131b;
        border: 1px solid #695a7c;
        padding: 14px;
        color: #b0a2b8;
        &::-webkit-input-placeholder {color:#b0a2b8;}
        &::-moz-placeholder          {color:#b0a2b8;}/* Firefox 19+ */
        &:-moz-placeholder           {color:#b0a2b8;}/* Firefox 18- */
        &:-ms-input-placeholder      {color:#b0a2b8;}
      }

      .input-group-btn {
        button {
          background: #863fb0;
          border-color: #713391;
        }
      }
    }

    &.b-profile-head-non {
      text-align: center;
      color: white;

      .b-text {
        line-height: 90px;
        h5 {
          display: inline-block;
        }
      }

      .b-avatar {
        color: white;
        text-align: center;

        h5 {
          padding: 10px 0;
        }

        .avatar {
          border-radius: 50px;
          margin-right: 12px;
          box-shadow: 0 0 1em #ffffff;
          border: 2px solid #ffffff;
          display: block;
          margin: auto;
          width: 90px;
        }
      }
    }
  }

  .b-profile-case-drop {
    // padding-top: 20px;
    padding-top: 20px;

    .b-case-drop {
      position: relative;
      min-height: 500px;

      &:before {
        background: url('../../assets/images/bg_second.png') no-repeat;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 80%;
        z-index: 1;
        opacity: 1;
        content: " ";
        -ms-background-size: cover;
        background-position: center;
        background-position-y: top;
        background-size: 132%;
      }

      .b-case-drop__inner {
        position: relative;
        z-index: 2;

        .col-12.row {
          margin: 0;
        }

        h3 {
          text-align: center;
          color: #f4a93e;
          font-size: 20pt;
          padding-bottom: 30px;
          padding-top: 18px;
          text-transform: uppercase;
          text-shadow: #1e1623 1px 1px 0, #1e1623 -1px -1px 0, #1e1623 -1px 1px 0, #1e1623 1px -1px 0;
        }

        .b-item-drop {
          margin-bottom: 14px;
          max-height: 195px;

          .border {
            border: 1px solid #4b3e56;
            padding: 0;
            border-radius: 4px;
            max-height: 195px;
          }


          .b-item-drop__inner {
            border: 1px solid #d8d8d8;
            border-image: url("../../assets/images/winner_item_left-right.png") 1 round;
            padding: 10px;

            .controls {
              position: relative;
              z-index: 3;

              .loading {
                i {
                  color: white;
                }
              }

              h5 {
                color: #5cb85c;
                font-size: 12pt;
                padding-top: 14px;
              }
            }

            h6 {
              color: white;
              text-align: center;
              /* white-space: nowrap; */
              overflow: hidden;
              position: absolute;
              left: 0;
              right: 0;
              margin: auto;
              max-width: 150px;
            }

            .hover {
              content: '';
              width: 0px;
              height: 0px;
              left: 0;
              right: 0;
              margin: auto;
              top: 26px;
              /* bottom: 90px; */
              bottom: 0;
              position: absolute;
              z-index: 1;
              box-shadow: 0px 0px 106px 40px #60506b;
            }

            .price {
              position: absolute;
              color: white;
              right: 12%;
              padding: 4px;
              border-radius: 6px;
              background: #39a20d;
              top: 100px;
              z-index: 20;
              font-size: 9pt;
            }

            img {
              width: 110px;
              margin: auto;
              display: block;
              padding-top: 22px;
              z-index: 2;
              position: relative;
            }
          }
        }
      }
    }
  }
}
