<div class="lastwinners">
  <ul class="lastwinners_list nomargin">
    <li *ngFor="let winner of winners" [@listAnimation]="winner" class="nopadding">
      <a class="lastwinners__item" [routerLink]="['/case', winner.case_static_name]">
        <div class="block">
          <div class="block-hover rare"></div>
          <img [src]="winner.skin_image" alt="">
        </div>
        <div class="block_caption">
          <div class="block_caption__inner">
            <div class="block_caption__skinname">{{ winner.skin_name }}</div>
            <div class="block_caption__username">{{ winner.user_name }}</div>
            <div class="block_caption__casename">{{ winner.case_name }}</div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
