@using Microsoft.Extensions.Options;
@using test_app.api.Models.Configuration

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@inject IOptions<ClientConfigurations> OptionsClientConfigurations

<p>ASPNETCORE_ENVIRONMENT = @hostingEnv.EnvironmentName</p>
<p>WebRootPath = @hostingEnv.WebRootPath</p>
<p>OptionsClientConfigurations.Url = @OptionsClientConfigurations.Value.Url</p>

<environment include="Production">
    <div>&lt;environment include="Production"&gt;</div>
</environment>
<environment include="Development">
    <div>&lt;environment include="Development"&gt;</div>
</environment>