@model AuthResponseModel

@using test_app.api.Models.Configuration;
@using Microsoft.Extensions.Options;

@inject IOptions<ClientConfigurations> OptionsClientConfigurations

<body>
    <h2 style="text-align: center;" id="countDown"></h2>
    <script type="text/javascript">
        function onAuthed() {
            var urls = [
                "@OptionsClientConfigurations.Value.Url",
                "@OptionsClientConfigurations.Value.UrlAdmin"
            ];

            for (i = 0; i <= urls.length; i++) {
                window.opener.postMessage(JSON.stringify({ token: "@Model.Token", username: "@Model.Username" }), urls[i]);
            }

            var counter = 5;
            var newElement = document.getElementById("countDown");
            newElement.innerHTML = `The authorization was successful, the window will close automatically ${counter.toString()} seconds`;
            id = setInterval(function() {
                counter--;
                if(counter <= 0) {
                    clearInterval(id);
                    window.close();
                } else {
                    newElement.innerHTML = `The authorization was successful, the window will close automatically ${counter.toString()} seconds`;
                }
            }, 1000);
        };

        onAuthed();

    //setTimeout(() => {
    //        window.close();
    //    },
    //    3000);
    </script>
</body>