<body>
Auth complete...
<script type="text/javascript">
    window.postMessage("WINDOW_CLOSED", "http://localhost:4200/");
    //setTimeout(() => {
    //        window.close();
    //    },
    //    3000);
</script>
</body>