.b-case {
  .id {
    text-align: left;
    font-size: 9pt;
    position: absolute;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
    top: 6px;
    left: 6px;
    color: #8a8a8a;
  }
}
