<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/']">Each CASES</a>

    <div class="collapse navbar-collapse menu" id="navbarsExampleContainer">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>

      <form *ngIf="currentUser == null" class="form-inline my-2 my-md-0">
        <button *ngIf="!isLoadingLogin" (click)="loginSteam()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти через STEAM</button>
        <div *ngIf="isLoadingLogin" class="loading">
            <i class="fa fa-sync-alt fa-spin fa-fw fa-2x"></i>
          <span class="sr-only">Loading...</span>
        </div>
      </form>
      <ul *ngIf="currentUser != null" class="navbar-nav pull-right menu__right">
        <li class="nav-item active" style="color: white;">
            <img style="float:left; width:36px; padding-right: 6px;" [src]="currentUser.steamAvatar" alt="">
            <a class="btn-group" ngbDropdown style="cursor: pointer;">
                <h5 style="float: right;" ngbDropdownToggle>{{ currentUser.userName }}</h5>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item">{{ currentUser.balance }}$</button>
                    <button [routerLink]="['/profile', currentUser.id]" class="dropdown-item">Profile</button>
                    <button class="dropdown-item">Add funds</button>
                    <div class="dropdown-divider"></div>
                    <button (click)="logout();" class="dropdown-item">Logout</button>
                </div>
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
    <div class="container statistic">
      <div class="statistic__item col-4 col-md-2">
        <div class="statistic__item_icon"><i class="fa fa-key fa-2x"></i></div>
        <div class="statistic__item_right">
            <div class="statistic__item_value">10000</div>
            <div class="statistic__item_text">cases</div>
        </div>
      </div>

      <div class="statistic__item col-4 col-md-2">
        <div class="statistic__item_icon"><i class="fa fa-users fa-2x"></i></div>
        <div class="statistic__item_right">
            <div class="statistic__item_value">12300</div>
            <div class="statistic__item_text">users</div>
        </div>
      </div>

      <div class="statistic__item col-4 col-md-2">
        <div class="statistic__item_icon"><i class="fa fa-meh fa-2x"></i></div>
        <div class="statistic__item_right">
            <div class="statistic__item_value">10</div>
            <div class="statistic__item_text">bots online</div>
        </div>
      </div>

      <div class="statistic__item col-4 col-md-2">
        <div class="statistic__item_icon"><i class="fa fa-circle center"></i></div>
        <div class="statistic__item_right">
            <div class="statistic__item_value">10</div>
            <div class="statistic__item_text">users online</div>
        </div>
      </div>

    </div>
</nav>

<div class="container">
  <app-lastwinners></app-lastwinners>
  <router-outlet></router-outlet>
</div>
