<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Each CASES</a>

    <div class="collapse navbar-collapse menu" id="navbarsExampleContainer">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <form *ngIf="currentUser == null" class="form-inline my-2 my-md-0">
        <button *ngIf="!isLoadingLogin" (click)="loginSteam()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти через STEAM</button>
        <div *ngIf="isLoadingLogin" class="loading">
            <i class="fa fa-sync-alt fa-spin fa-fw fa-2x"></i>
          <span class="sr-only">Loading...</span>
        </div>
      </form>
      <ul *ngIf="currentUser != null" class="navbar-nav pull-right menu__right">
        <li class="nav-item active">
            <img style="float:left; width:36px; padding-right: 6px;" [src]="currentUser.steamAvatar" alt="">
            <h5 style="color: white; float: right;">{{ currentUser.userName }}</h5>
        </li>
        <li class="nav-item">
            <button (click)="logout()" type="button" class="btn btn-link">Выход</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
    <div class="container statistic">
      <div class="statistic__item col-4 col-md-2">
        <div class="statistic__item_icon"><i class="fa fa-key fa-2x"></i></div>
        <div class="statistic__item_right">
            <div class="statistic__item_value">10000</div>
            <div class="statistic__item_text">cases</div>
        </div>
      </div>

      <div class="statistic__item col-4 col-md-2">
        <div class="statistic__item_icon"><i class="fa fa-users fa-2x"></i></div>
        <div class="statistic__item_right">
            <div class="statistic__item_value">12300</div>
            <div class="statistic__item_text">users</div>
        </div>
      </div>

      <div class="statistic__item col-4 col-md-2">
        <div class="statistic__item_icon"><i class="fa fa-meh fa-2x"></i></div>
        <div class="statistic__item_right">
            <div class="statistic__item_value">10</div>
            <div class="statistic__item_text">bots online</div>
        </div>
      </div>

      <div class="statistic__item col-4 col-md-2">
        <div class="statistic__item_icon"><i class="fa fa-circle center"></i></div>
        <div class="statistic__item_right">
            <div class="statistic__item_value">10</div>
            <div class="statistic__item_text">users online</div>
        </div>
      </div>

    </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>

  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Navbar examples</h1>
      <p>This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend the width of the viewport, others are confined within a <code>.container</code>. For positioning of navbars, checkout the <a href="../navbar-top/">top</a> and <a href="../navbar-top-fixed/">fixed top</a> examples.</p>
      <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle the collapsed content.</p>
      <p>
        <a class="btn btn-primary" href="../../components/navbar/" role="button">View navbar docs »</a>
      </p>
    </div>
  </div>
</div>
