<header>
  <div class="container b-header">
    <img class="logo_top" src="../../assets/images/logo_text.png" alt="">
    <div class="col-12 row">
      <div class="col-12 b-menu top">
        <ul>
          <li><a [routerLink]='[""]'>Home</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">TOP</a></li>
          <li>
            <div class="b-profile">
              <div class="b-profile__inner">
      
                <div *ngIf="currentUser != null" class="b-profile-min">
                    <img [routerLink]="['/profile', currentUser.id]" [src]="currentUser.steamAvatar" alt="">
                    <div class="b-profile-min__info">
                      <div [routerLink]="['/profile', currentUser.id]" class="b-profile-min__name">{{ currentUser.userName }} <span style="color: #5cb85c">{{ currentUser.balance | currency }}</span></div>
                      <button class="btn btn-outline-success" style="margin-top: 7px;text-transform: uppercase;">Add funds</button>
                      <button class="btn btn-outline-warning" (click)="logout();" style="margin-top: 7px;text-transform: uppercase;"><i class="fa fa-times" aria-hidden="true"></i></button>
                      <!-- <div class="b-profile-min__balance">balance: <b>{{ currentUser.balance }}$</b></div> -->
      
                      <!-- <div class="dropdown-menu" ngbDropdownMenu>
                          <button class="dropdown-item">{{ currentUser.balance }}$</button>
                          <button [routerLink]="['/profile', currentUser.id]" class="dropdown-item">Profile</button>
                          <button class="dropdown-item">Add funds</button>
                          <div class="dropdown-divider"></div>
                          <button (click)="logout();" class="dropdown-item">Logout</button>
                      </div> -->
                    </div>
                </div>
      
                <button *ngIf="currentUser == null && !isLoadingLogin" class="btn btn-steam" (click)="loginSteam()" type="button">
                  <span>Login with <b>STEAM</b></span>
                </button>
                <div *ngIf="currentUser == null && isLoadingLogin" class="loading">
                    <i class="fa fa-sync-alt fa-spin fa-fw fa-2x"></i>
                  <span class="sr-only">Loading...</span>
                </div>
      
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<nav class="navbar navbar-toggleable-md b-statistic">
    <div class="container statistic">
      <div class="col-12 row">
        <div class="statistic__item col-4 col-md-2">
          <!-- <div class="statistic__item_icon"><i class="fa fa-key fa-2x"></i></div> -->
          <div class="statistic__item_right">
              <div class="statistic__item_text">cases</div>
              <div class="statistic__item_value">{{ mainData.opennedCases }}</div>
          </div>
        </div>
  
        <div class="statistic__item col-4 col-md-2">
          <!-- <div class="statistic__item_icon"><i class="fa fa-users fa-2x"></i></div> -->
          <div class="statistic__item_right">
              <div class="statistic__item_text">users</div>
              <div class="statistic__item_value">{{ mainData.usersRegistered }}</div>
          </div>
        </div>
  
        <div class="statistic__item col-4 col-md-2">
          <!-- <div class="statistic__item_icon"><i class="fa fa-meh fa-2x"></i></div> -->
          <div class="statistic__item_right">
              <div class="statistic__item_text">online</div>
              <div class="statistic__item_value">{{ mainData.online }}</div>
          </div>
        </div>
  
        
      </div>

    </div>
</nav>

<div class="container">
  <!-- <app-lastwinners></app-lastwinners> -->
  <router-outlet></router-outlet>
</div>

<footer class="container">
  <div class="footer__inner">
    <div class="col-12 row">
      <div class="col-12 col-md-6 b-left">
        <div class="b-menu bottom">
            <ul>
              <li><a [routerLink]='[""]'>Home</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">TOP</a></li>
            </ul>
        </div>
        <div class="copyrights">
            © 2017 EachCases On our site you can open PUBG cases with games at the best prices. All exchanges take place automatically with the help of <b>STEAM</b> bots.
        </div>
      </div>
      <div class="col-12 col-md-6 b-right row">
          <div class="col-12 col-lg-6 b-help row">
            <div class="col-12 col-lg-6">
              <h5>Support</h5>
              <a href="#">Help with payments</a>
              <a href="#">Help with accounts</a>
              <a href="#">Help on the game</a>
            </div>
            <div class="col-12 col-lg-6">
              <h5>Contacts</h5>
              <div class="email">info@eachcases.com</div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <img class="logo_min" src="../../assets/images/logo_3.png" alt="">
          </div>
      </div>
    </div>

    <div>
      <img class="payment_methods first" src="../../assets/images/payments_1.png" alt="">
      <img class="payment_methods" src="../../assets/images/payments_2.png" alt="">
    </div>
  </div>

</footer>
