@font-face {
	font-family: "SegoeUI";
	src: url("../assets/fonts/SegoeUI/SegoeUI.eot?") format("eot"),
		 url("../assets/fonts/SegoeUI/SegoeUI.woff2") format("woff2"),
		 url("../assets/fonts/SegoeUI/SegoeUI.woff") format("woff"),
		 url("../assets/fonts/SegoeUI/SegoeUI.ttf") format("truetype");
}

@font-face {
	font-family: "SegoeUI Symbol";
	src: url("../assets/fonts/SegoeUI/SegoeUISymbol.eot?") format("eot"),
		 url("../assets/fonts/SegoeUI/SegoeUISymbol.woff2") format("woff2"),
		 url("../assets/fonts/SegoeUI/SegoeUISymbol.woff") format("woff"),
		 url("../assets/fonts/SegoeUI/SegoeUISymbol.ttf") format("truetype");
}
